@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --primary-color: #FE5E49;
    --secondary-color: #ACACAC;
    --background-color: #fefeff;
    --background-input: #f1f0f1;
    --text-color: #202429;
    --input-color: #ACACAC;
    --nav-color: #f8f9fa;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

/* Colors */
a {
    color: var(--primary-color) !important;
}

.primary-color {
    color: var(--primary-color) !important;
}

.text-color,
label {
    color: var(--text-color);
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.bg-color {
    background-color: var(--background-color) !important;
}

.border-primary {
    border-color: var(--primary-color) !important;
}

/* Colors End */


.pass-logo {
    position: absolute;
    height: 35px;
    width: 38px;
    background: transparent;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
    z-index: 999;
}

.content .pass-logo i.bx,
.showPass {
    color: var(--input-color);
    position: relative;
}

.content input {
    height: 100%;
    width: 100%;
    border: 1px solid var(--background-input);
    color: var(--text-color);
    border-radius: 10px;
    padding: 15px 10px 15px 45px;
    outline: none;
    background: var(--background-input);
}

.content input::placeholder {
    color: var(--input-color);
}

.content input:focus,
.content input:-webkit-autofill {
    box-shadow: none;
    border-color: var(--primary-color) !important;
    background: var(--background-input) !important;
    color: var(--text-color) !important;
}

.btn {
    font-weight: 600;
    border-radius: 10px !important;
    padding: 10px 5px;
    background-color: var(--primary-color);
}

.btn-login-with-google {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 1px solid var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    background-color: transparent;
}

.btn-login-with-google:hover {
    background-color: var(--background-input) !important;
    border-color: var(--primary-color) !important;
    transition: var(--tran-05);
}